<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-wish</title>
</head>
    <body>
        <div>
            <input type="text" name="wish" id="wish">
            <br>
            <input type="text" name="image" id="image">
            <button onclick="link()">make link</button>
            <p id="url"></p>
        </div>
        <br>
        <form action = "/success" method = "post" enctype="multipart/form-data">   
            <input type="file" name="file" />   
            <input type = "submit" value="Upload">   
        </form>
        <script>
            function link() {
                var wish = document.getElementById("wish").value;
                var image = document.getElementById("image").value;
                var text = "http://127.0.0.1:80/wish/" + wish + "/" + image;
                document.getElementById("url").innerHTML = text;
            }
        </script>  
    </body>   
</body>
</html>

